.item-container {
    display: grid;
    flex-wrap: wrap;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: space-between;
    margin: 20px 170px;
}

.item {
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.item h4 {
    font-size: 1.2em;
    margin: 10px 0;
}

.item p {
    margin: 5px 0;
    font-size: 1em;
}

.price{
    color: #28a745;
}

.quantity-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.quantity-controls button {
    color: white;
    border: none;
    padding: 3.5px 11px;
    border-radius:5px;
    cursor: pointer;
    font-size: 1em;
}
.minus{
    background-color: red;
}
.plus{
    background-color: #28a745;
}
.add{
    color: white;
    border: none;
    padding: 3.5px 11px;
    border-radius:5px;
    cursor: pointer;
    font-size: 1em;
    background-color: #28a745;
}



.plus:hover {
    background-color: #ffffff;
    color: #28a745;
    border: 1.5px solid #28a745;
}
.minus:hover{
    background-color: #ffffff;
    color: red;
    border: 1.5px solid red;
}


.quantity-controls span {
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
}

.item p:last-of-type {
    font-size: 1.1em;
    font-weight: bold;
}
