.home-container {
  text-align: center;
  padding: 20px;
}

.hero-section {
  background-image: url('');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.hero-section h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.hero-section h2 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero-section p {
  font-size: 16px;
  margin-bottom: 30px;
}

.see-orders-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.cards-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 250px;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.card p {
  font-size: 14px;
  margin-bottom: 20px;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
